# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Understand key data science tools
- Perform basic arithmetic operations in Python
- Convert units (e.g., minutes to hours)
- Create and execute code cells in a Jupyter notebook

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science tools|
|------------------|
|jupyter notebook  |
|RStudio           |
|Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3 * 4) + 5              #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200 / 60
 # This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author

Bhanu